*{
    margin: 0px;
    padding: 0px;
}
#section1-navigation{
    background-color: rgb(255, 102, 0);
}
#section5-contact{
    margin-top: 0px; 
}
#section5-contact a{
     text-decoration: none;
     color: white;
     background-color: black;
     padding: 5px 40px;
     outline: none;
     border: 3px solid white;
     border-radius: 10px;
}

